# Set to 'console' for local development to log emails instead of sending them via Resend
MAILER_DRIVER=
MAILER_RECIPIENT_EMAIL=
MAILER_RESEND_API_KEY=
MAILER_SENDER_EMAIL=

# For local development, run `docker compose up -d` and use:
STORAGE_KV_REST_API_URL=http://localhost:8079
STORAGE_KV_REST_API_TOKEN=local-dev-token
STORAGE_KV_URL=
STORAGE_REDIS_URL=
